In [1]:
import pandas as pd

In [8]:
df = pd.read_parquet(r'D:\daneshkar\pandas-numpy-matplotlib\x\final_datasets\raw_match\tournament_all_days.parquet')
df

,match_id,tournament_id,tournament_name,tournament_slug,tournament_unique_id,tournament_category_name,tournament_category_slug,user_count,ground_type,tennis_points,has_event_player_statistics,crowd_sourcing_enabled,has_performance_graph_feature,display_inverse_home_away_teams,priority,competition_type
0,11974053,70826,Qualifiers,qualifiers,None,Davis Cup,davis-cup,6909,None,NaN,False,False,False,False,0,2.0
1,11974066,70826,Qualifiers,qualifiers,None,Davis Cup,davis-cup,6909,None,NaN,False,False,False,False,0,2.0
2,11998445,126168,"Montpellier, France",montpellier-france,None,ATP,atp,2155,Hardcourt indoor,250.0,False,False,False,False,0,2.0
3,11998446,126168,"Montpellier, France",montpellier-france,None,ATP,atp,2155,Hardcourt indoor,250.0,False,False,False,False,0,2.0
4,11998447,126168,"Montpellier, France",montpellier-france,None,ATP,atp,2155,Hardcourt indoor,250.0,False,False,False,False,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35666,12213482,128420,"Hammamet, Singles Qualifying, M-ITF-TUN-24A",hammamet-singles-qualifying-m-itf-tun-24a,None,ITF Men,itf-men,14,Red clay,NaN,False,False,False,False,0,2.0
35667,12213483,128420,"Hammamet, Singles Qualifying, M-ITF-TUN-24A",hammamet-singles-qualifying-m-itf-tun-24a,None,ITF Men,itf-men,13,Red clay,NaN,False,False,False,False,0,2.0
35668,12213484,128420,"Hammamet, Singles Qualifying, M-ITF-TUN-24A",hammamet-singles-qualifying-m-itf-tun-24a,None,ITF Men,itf-men,13,Red clay,NaN,False,False,False,False,0,2.0
35669,12213486,128420,"Hammamet, Singles Qualifying, M-ITF-TUN-24A",hammamet-singles-qualifying-m-itf-tun-24a,None,ITF Men,itf-men,14,Red clay,NaN,False,False,False,False,0,2.0
35670,12213803,128420,"Hammamet, Singles Qualifying, M-ITF-TUN-24A",hammamet-singles-qualifying-m-itf-tun-24a,None,ITF Men,itf-men,13,Red clay,NaN,False,False,False,False,0,2.0

In [10]:
surface = df['ground_type']
surface

0                    None
1                    None
2        Hardcourt indoor
3        Hardcourt indoor
4        Hardcourt indoor
               ...
35666            Red clay
35667            Red clay
35668            Red clay
35669            Red clay
35670            Red clay
Name: ground_type, Length: 35671, dtype: object

In [12]:
pure_surface = surface.dropna()
pure_surface

2        Hardcourt indoor
3        Hardcourt indoor
4        Hardcourt indoor
5        Hardcourt indoor
6        Hardcourt indoor
               ...
35666            Red clay
35667            Red clay
35668            Red clay
35669            Red clay
35670            Red clay
Name: ground_type, Length: 35109, dtype: object

In [19]:
pure_surface.value_counts().sort_values(ascending= False)

ground_type
Hardcourt outdoor    16959
Red clay             11856
Hardcourt indoor      4741
Red clay indoor        512
Grass                  509
Carpet indoor          276
Synthetic outdoor      226
Green clay              30
Name: count, dtype: int64